.colordiv {
  width: 348px;
}

.hue-picker {
  width: 348px !important;
  height: 18px !important;
}

.hue-horizontal {
  border-radius: 10px !important;
}

.hue-vertical {
  width: 19px !important;
  height: 19px !important;
  border-radius: 50% !important;
}
.imageicon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.textp {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 500;
  font-size: 23px;
}
.buttondic {
  width: 348px;
  height: 47px;
  border-radius: 5px;
  border: 3px solid #eeeeee !important;
  background-color: black;
  color: #fff;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(207, 203, 201);
}

.custom-chrome-picker .chrome-picker > div:nth-child(2) {
  display: none;
}

.custom-chrome-picker .chrome-picker > div:nth-child(3) {
  display: none; /* Hide the alpha slider */
}

.custom-chrome-picker .chrome-picker > div {
  height: auto; /* Adjust the height of the picker */
}

.chrome-picker {
  box-shadow: none !important;
}
.chrome-picker {
  width: 348px !important;
}

.color-info-container {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-top: 13px;
}

.hex-color-box,
.rgb-color-box {
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: "Afacad Flux", sans-serif;
  font-weight: 500;
  font-size: 17px;
  opacity: 10px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

.color-info-container {
  width: 348px;
}

.rgb-color-box {
  width: 186px;
  font-family: "Afacad Flux", sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.part1head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hetext1 {
  font-family: "Afacad Flux", sans-serif;
  font-size: larger;
  margin-left: 10px;
  font-weight: 500;
}
.hetexta {
  font-family: "Afacad Flux", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  margin-top: 17px;
  border-bottom: 1px solid rgb(235, 222, 222);
}
.he2 {
  display: flex;
  justify-items: center;
  font-family: "Afacad Flux", sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
}

.copied {
  opacity: 74%;
}
.recentecolors {
  display: flex;
  align-items: center;
}

.colorbox{
  width: 25px;
  height: 25px;
  background-color: aquamarine;
}